{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}

  <h3>Game Information</h3>

  <p>This is a 52 card pickup game. </p>
  
  <p> For more info, click 	<button data-bs-toggle="collapse" data-bs-target="#demo">here</button></p>
		
	<div id="demo" class="collapse">
		52 Card Pickup is a game where you are meant to pick up 52 cards as fast as possible. <br>
		To play, click <button class="playgame"> <a href="page1.html">here</a> </button>
	</div>
  
  <div id="info" class="collapse">
	test
  </div>
{% endblock %}
