{% extends "layout.html" %}

{% block content %}
<h1>52 Card Pickup</h1>
<div id="game-area" style="position: relative; width: 100%; height: 600px; border: 1px solid black;">
    {% for card in cards %}
    <div class="card" data-index="{{ loop.index0 }}" style="position: absolute; left: {{ card.x }}%; top: {{ card.y }}%;">
        {{ card.value }} of {{ card.suit }}
    </div>
    {% endfor %}
</div>
<button id="new-game">New Game</button>

<script>
document.querySelectorAll('.card').forEach(card => {
    card.addEventListener('click', function() {
        fetch('/pickup-card', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: 'card_index=' + this.dataset.index
        })
        .then(response => response.json())
        .then(data => {
            if (data.message) {
                this.style.display = 'none';
            }
        });
    });
});

document.getElementById('new-game').addEventListener('click', function() {
    window.location.href = '/new-game';
});
</script>
{% endblock %}