{% extends "layout.html" %}

{% set active_page = "page1" %}

{% block title %}page1{% endblock %}

{% block content %}


  <p></p>
<div class="button-container">
    <button class="cards"><img src='/static/AceClub.PNG'></button>
    <button class="cards" ><img src='/static/2Club.PNG'></button>
    <button class="cards"><img src='static/3Club.PNG'></button>
    <button class="cards"><img src='static/4Club.PNG'></button>
    <button class="cards"><img src='static/5Club.PNG'></button>
    <button class="cards"><img src='static/6Club.PNG'></button>
    <button class="cards"><img src='static/7Club.PNG'></button>
    <button class="cards"><img src='static/8Club.PNG'></button>
    <button class="cards"><img src='static/9Club.PNG'></button>
    <button class="cards"><img src='static/10Club.PNG'></button>
    <button class="cards"><img src='static/JackClub.PNG'></button>
    <button class="cards"><img src='static/QueenClub.PNG'></button>
    <button class="cards"><img src='static/KingClub.PNG'></button>
    <button class="cards"><img src='static/AceSpade.PNG'></button>
    <button class="cards"><img src='static/2Spade.PNG'></button>
    <button class="cards"><img src='static/3Spade.PNG'></button>
    <button class="cards"><img src='static/4Spade.PNG'></button>
    <button class="cards"><img src='static/5Spade.PNG'></button>
    <button class="cards"><img src='static/6Spade.PNG'></button>
    <button class="cards"><img src='static/7Spade.PNG'></button>
    <button class="cards"><img src='static/8Spade.PNG'></button>
    <button class="cards"><img src='static/9Spade.PNG'></button>
    <button class="cards"><img src='static/10Spade.PNG'></button>
    <button class="cards"><img src='static/JackSpade.PNG'></button>
    <button class="cards"><img src='static/QueenSpade.PNG'></button>
    <button class="cards"><img src='static/KingSpade.PNG'></button>
    <button class="cards"><img src='static/AceHearts.PNG'></button>
    <button class="cards"><img src='static/2Hearts.PNG'></button>
    <button class="cards"><img src='static/3Hearts.PNG'></button>
    <button class="cards"><img src='static/4Hearts.PNG'></button>
    <button class="cards"><img src='static/5Hearts.PNG'></button>
    <button class="cards"><img src='static/6Hearts.PNG'></button>
    <button class="cards"><img src='static/7Hearts.PNG'></button>
    <button class="cards"><img src='static/8Hearts.PNG'></button>
    <button class="cards"><img src='static/9Hearts.PNG'></button>
    <button class="cards"><img src='static/10Hearts.PNG'></button>
    <button class="cards"><img src='static/JackHearts.PNG'></button>
    <button class="cards"><img src='static/QueenHearts.PNG'></button>
    <button class="cards"><img src='static/KingHearts.PNG'></button>
    <button class="cards"><img src='static/AceDiamond.PNG'></button>
    <button class="cards"><img src='static/2Diamond.PNG'></button>
    <button class="cards"><img src='static/3Diamond.PNG'></button>
    <button class="cards"><img src='static/4Diamond.PNG'></button>
    <button class="cards"><img src='static/5Diamond.PNG'></button>
    <button class="cards"><img src='static/6Diamond.PNG'></button>
    <button class="cards"><img src='static/7Diamond.PNG'></button>
    <button class="cards"><img src='static/8Diamond.PNG'></button>
    <button class="cards"><img src='static/9Diamond.PNG'></button>
    <button class="cards"><img src='static/10Diamond.PNG'></button>
    <button class="cards"><img src='static/JackDiamond.PNG'></button>
    <button class="cards"><img src='static/QueenDiamond.PNG'></button>
    <button class="cards"><img src='static/KingDiamond.PNG'></button>
</div>
  <pre>
    
  </pre>

{% endblock %}
